<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Hexaware</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <select class="form-control mr-sm-2" (change)="stateChanged($event.target.value)" #stateInput>
        <option value="{{item.state_id}}" *ngFor="let item of lstStateData">{{item.state_name}}</option>
      </select>

      <select class="form-control mr-sm-2" #cityInput>
        <option>Select City</option>
        <option value="{{item.city_id}}" *ngFor="let item of lstCityData">{{item.city_name}}</option>
      </select>

      <input class="form-control mr-sm-2" type="text" placeholder="Enter Location" aria-label="Search" #locInput>
      <button type="button" (click)="serach(locInput.value,cityInput.value,stateInput.value)"
        class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>
  </div>
</nav>