<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-sm-6">
        <a class="navbar-brand" href="home">Home</a>
    </div>
    <div class="col-sm-6">
    </div>
</nav>
<div class="Absolute-Center is-Responsive" >
<div class="container">
    <!-- <div class="card text-center" style="margin-left: 200px;"> -->
        <div class="card-header bg-warning">
            Success
        </div>
        <div class="card-body">
            <h5 class="card-title">Your booking has been confirmed. Check your email for details.</h5>
        </div>
        <div class="card-footer text-muted">
            THANK YOU!!
        </div>
    </div>
</div>


<br>